
header{
    margin:10px auto;
    width:512px;
    
}

main{
    margin:0 auto;
    max-width: 512px;
    display:flex;
    justify-content: center;
    flex-direction: column;
}



.style-element{
    margin: 10px auto;
    background-color: aqua;
    width: 100px;
    height: 100px;

}
