html{
    margin:0;
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px 4px;
    margin:0;

    nav>*{
        margin: 10px 8px;
        text-decoration: none;
    }
}

