html{
    margin:0;
    font-family: 'Arial', sans-serif;

}
body{
    margin:0;
    padding:0;
}
main{
    padding: 16px 36px;
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px 4px;
    background:rgba(10, 147, 10, 0.668) ;
    nav>*{
        margin: 10px 8px;
        text-decoration: none;
        padding: 4px 8px;
        border: white 1px solid;
        border-radius: 4px;
        color: white	;
    }
    nav{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
}
.cta-header{
    background-color: rgba(165, 42, 42, 0.832);
    color: white;

}
.cta-header:hover{
    background-color:rgba(165, 42, 42, 0.985);
    transition: ease-in-out 0.3s;
}
